  #board {
    display: flex;
    margin-left:100px
  }
  #board__sources {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 200px;
  }
  .board__sources__source {
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  #board__targets {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .board__targets__target {
    display: inline-block;
    margin: 5px;
  }
  .board__targets__target--circle {
  
  }
  .board__targets__target--square {
    display: inline-block;
  }
  #board__drops {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .board__drops__drop {
    display: flex;
    justify-content: space-around;
  }
  .board__drops__drop__source {
    margin: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  .board__drops__droptarget--isCheckedLeft{
    position: relative;
    right:200px;
    margin-top:auto
  }
  .board__drops__droptarget--isCheckedLeft--0{
    position: relative;
    right:200px;
    margin-top:auto
  }
  .board__drops__droptarget--isCheckedRight--1{
    margin-top:auto
  }
  .board__drops__droptarget--isCheckedRight--0{
    margin-top:auto
  }
  .board__drops__droptarget--isCheckedLeft--1{
     position: relative;
    right:300px;
    margin-top:auto
  }